---
---

@import "{{ site.theme }}";

a {
  color: #03bf6d;
}

.logo {
  width:100%;
  max-width:200px;
}

@media print, screen and (min-width: 961px) {

  section {
    width:70%;
    float:right;
    padding-bottom:50px;
  }

  header {
    width:20%;
    float:left;
    -webkit-font-smoothing:subpixel-antialiased;
  }


  footer {
    width:20%;
    float:left;
    bottom:50px;
    -webkit-font-smoothing:subpixel-antialiased;
  }

  .wrapper {
    width:100%;
    margin:0 auto;
  }

}
