---
---

@import "{{ site.theme }}";

a {
  color: #03bf6d;
}

section {
  width:70%;
  float:right;
  padding-bottom:50px;
}

header {
  width:20%;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

.wrapper {
  width:100%;
  margin:0 auto;
}
